# Виртуальное окружение
venv/
__pycache__/
*.pyc

# Статические файлы (собранные)
staticfiles/
static/

# База данных
*.sqlite3

# Файлы окружения
.env
.env.prod

# Файлы IDE
.vscode/
.idea/
*.swp

# Логи
*.log

# Данные (опционально, если хотите исключить)
# data/